/* Theme */

main {
    background: #2e7bcf url(../../../images/land-header-bg.jpg) 0 0 repeat;
    background-size: contain;
    color: #FAFAFA;

}

.icons-social a {
    color: #FAFAFA;
}

.icons-social a svg path{
    fill: #FAFAFA;
}
